#navbar {
  margin-left: 10px;
}

#photo {
	margin-right: 10px ;
}
#row {
	height:50px;width:50px
}
#container {
	height:50px;width:50px
}
#chip1 {
	margin-left:23px;
}
#chip2 {
	margin-left:23px;
}
#send {
	margin-left:10px
}